body {
    background-color: #f0d048;
}
h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}